body {
    box-sizing: border-box;
    line-height: 1.5;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
p {
    font-size: 20px;
    color: #333;
}